[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prompt-toolkit = "*"
pyserial = "*"
pdoc = "*"

[dev-packages]
pdoc3 = "*"
mypy = "*"
autopep8 = "*"

[requires]
python_version = "3.9"

[scripts]
docs = "python -m pdoc -o docs core/"
